<div class="cards">
<% @coachsessions.each do |session| %>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url( <%= session.main_photo.url %> )">
    <%if session.main_photo.attached?%>
    <% else %>
    <div  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3), url(<%= "calis_1.jpeg"%>))"></div>
      <%#= image_tag "calis_1.jpeg", class: "card-img"%>
    <% end %>
    <div>
      <h5 class="card-title"><%=session.session_name%></h5>
      <p class="card-text"><%=session.description%></p>
      <p class="card-text"><%=session.price_per_day%> $</p>
    </div>
  </div>
<% end %>

<div style="width: 100%; height: 600px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
