
<div class="cards">
<% @coachsessions.each do |session| %>
  <%if session.main_photo.attached?%>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url( <%= cl_image_path session.main_photo.key %> )">
  <% else %>
    <div style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3), url(<%= image_path "calisthenics_1.jpeg"%>))">
      <%#= image_tag "calis_1.jpeg", class: "card-img"%>
  <% end %>
    <div>
      <h5 class="card-title"> <%= link_to  session.session_name , coachsession_path(session) %> </h5>
      <p class="card-text"><%=session.description%></p>
      <p class="card-text"><%=session.price_per_day%> $</p>
    </div>
  </div>
<% end %>
</div>
<br/>
<div style="width: 100%; height: 600px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
