<div>
  <div class="intro">
    <div class="profile-details">
      <div class="card mb-3 d-flex">
        <div class="row g-0">
          <div class="col-md-6">
            <div class="img-fluid rounded-start profile-photo"  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url( <%= cl_image_path @coachsession.main_photo.key %> )"></div>
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h1 class="card-title"><%= @coachsession.session_name %></h1>
              <h5 class="card-description"><%=@coachsession.description%></h5>
              <p class="card-location"><i class="fas fa-map-marker-alt"></i>  <%=@coachsession.address%></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row pb-10 profile-details">
  <div class="col-md-8">
    <div class="card-body" id="reviews">
      <p class="review"><%= pluralize @coachsession.reviews.size, "review" %></p>
      <% if @coachsession.reviews.blank? %>
        <p class="review">Help the coach to spread his experience.
        Leave the first review for the session!</p>
      <% else %>
        <% @coachsession.reviews.each do |review| %>
          <div class="notification">
            <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
            <div class="notification-content">
              <p><small>14th January</small></p>
              <p id="review-<%= review.id %>"><%= review.content %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
      <div>
      <%= simple_form_for([ @coachsession, @review ], url: coachsession_reviews_path(@coachsession), remote: true) do |f| %>
      <%= f.input :content, as: :text, label: "Share your experience" %>
      <button class="btn-booking">Review</button>
      <% end %>
      </div>
  </div>
  <div class="col-md-4 d-flex justify-content-end pe-0" >
    <div class="booking-card">
      <%= simple_form_for [@coachsession, @booking], url: coachsession_bookings_path(@coachsession) do |f| %>
        <%= f.input :date_start, as: :date, html5: true %>
        <%= f.input :date_end, as: :date, html5: true %>
        <p>Price per day:  $<%= @coachsession.price_per_day %></p>
        <%= f.button :submit, 'Book now', class:"btn-booking" %>
      <% end %>
    </div>
  </div>
</div>
