<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "FindCoach", root_path, class: "navbar-brand" %>

    <div class="searchbar">
       <%# <%= simple_form_for :search, url: coachsessions_path, method: :get do |f| %>
      <%# <div>
        <label for="activities">My activity:</label>
        <select id="activity" name="activities" placeholder="Choose your activity" class="dropdown">
          <option value="Calisthenics">Calisthenics</option>
          <option value="Dancing">Dancing</option>
          <option value="Surfing">Surfing</option>
          <option value="Swimming">Swimming</option>
          <option value="Weight-lifting">Weightlifting</option>
          <option value="Yoga">Yoga</option>
        </select>
        <button type="submit", class="btn-searchbar">Find</button>
        <% end %>
      <%# </div> %>
      <%= form_tag coachsessions_path, method: :get do %>
      <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Surfing, Swimming, Weight-Lifting,...",
          class:"searchbar-all"%>
      <%= submit_tag "Search", class: "btn btn-search-all" %>
      <% end %>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Become a coach", new_coachsession_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "My bookings", bookings_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "rayhan.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", method: :delete %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%#= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
